:root { 
--blue_gray_200:#bac1ce; 
--blue_gray_100:#d6dae2; 
--blue_gray_400:#74839d; 
--blue_gray_300:#9ea8ba; 
--blue_A700:#0061ff; 
--gray_900:#0d1624; 
--gray_50:#f9fbff; 
--blue_50:#e0ebff; 
--black_900:#000000; 
--blue_gray_800:#3d455b; 
--blue_gray_900:#262b35; 
--white_A700:#ffffff; 
--gray_700_11:#55555511; 
}